<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Member Page</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

<h1>Tell us about your group...</h1>

<div class = "container2">

    <form name="group_data" action="." method="post">
        <label>Member Name:</label>
            <br>
        <input type="text" name="member_name">
            <br><br>
        <label>Email Address:</label>
            <br>
        <input type="email" name="email">
            <br><br>
        <label>Contribution (can be 0.00 to start):</label>
            <br>
        <input type="number" name="contribution">
            <br><br>
        <input type="submit" value="submit">

    </form>

</div>

</body>
</html>