<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Trip Page</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<!--Navigation link, returns user to the dashboard page.-->

<div class="top_nav">
  <a class="active" href="dashboard.html">Return to Dashboard</a>
</div>

<body>

<h1>Tell us who's going and what they've paid...</h1>

<!--Table to display details of the trip members and their contributions, returned from the database.-->

<div class = "container1">

<table class="dashboard-table">
    <tr>
        <th>Member Name</th>
        <th>Target</th>
        <th>Total Contributions</th>
        <th>Remaining</th>
    </tr>
    <tr>
        <td data-th="Member Name">Joey</td>
        <td data-th="Target">£115</td>
        <td data-th="Total Contributions">£75</td>
        <td data-th="Remaining">£40</td>
    </tr>
    <tr>
        <td data-th="Member Name">Chandler</td>
        <td data-th="Target">£115</td>
        <td data-th="Total Contributions">£60</td>
        <td data-th="Remaining">£55</td>
    </tr>
    <tr>
        <td data-th="Member Name">Phoebe</td>
        <td data-th="Target">£115</td>
        <td data-th="Total Contributions">£70</td>
        <td data-th="Remaining">£45</td>
    </tr>
    <tr>
        <td data-th="Member Name">Rachel</td>
        <td data-th="Target">£115</td>
        <td data-th="Total Contributions">£90</td>
        <td data-th="Remaining">£25</td>
    </tr>
</table>

</div>
<br>
<div class = "container2">

<!--Form to input group member details and their contributions.-->
<!--Form fields reset on submission, so additional contributions can be inserted.-->

<form name="friends_data" method="post">
        <label>Friend's Name:</label>
            <br>
        <input type="text" name="friend_name">
            <br><br>
        <label>Friend's Email Address:</label>
            <br>
        <input type="email" name="friend_email">
            <br><br>
        <label>Friend's contribution</label>
            <br>
        <label>(can be zero to start):</label>
            <br>
        <input type="number" name="friend_contribution">
            <br><br>
        <input type="submit" onclick="resetFunction()" value="submit">
</form>

<!--JS function to reset form.-->

<script>
    function resetFunction() {
    document.getElementById("friends_data").reset();
    }
</script>


</div>

</body>
</html>