body{
background-image:
url(https://as2.ftcdn.net/v2/jpg/02/76/10/71/1000_F_276107140_QSmVOJJPAUodmEnSx6I2O5KVUrRGlTm2.jpg);
background-size: cover;
background-repeat: no-repeat;
margin: 0px;
}

.top_nav{
  position: absolute;
  top: 8px;
  right: 16px;
}

h1{
font-size: 4em;
color: #1345a6;
font-weight: bold;
text-align: center;
text-shadow: 0 0 8px #FFFFFF;
backdrop-filter: blur(5px) brightness(200%);
}

h2{
font-size: 2.5em;
color: #1345a6;
text-align: center;
}

button{
    font-size: 1.5em;
    color: #1345a6;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: auto;
}

.message1{
    font-size: 1.0em;
    color: #1345a6;
    text-align: center;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: center;
    justify: center;
    width: 50%;
    margin: auto;
    background-color: #6feef2;
    padding: 10px;
}

form{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border-radius: 4px;
    font-weight: bold;
    justify-content: center;
}

<<<<<<< HEAD:static/main.css
table{
=======
.dashboard-table{
>>>>>>> main:website/static/main.css
  object-position: center;
  justify: center;
  margin: auto;
  background-color: #6feef2;
  color: 1345a6;
  border-radius: .4em;
  overflow: hidden;
  width: 50%;
<<<<<<< HEAD:static/main.css
  justify-content: center;
}

tr:nth-child(even) {background-color: #D6EEEE;}

tr:hover {background-color: #e6fc65;}

td{text-align: center;}

=======
  tr {
    border-color: lighten(#34495E, 10%);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  th, td {
    color: 1345a6;
    text-align: left;
    margin: .5em 1em;
  }
}
>>>>>>> main:website/static/main.css
